.App {
  background-color:lightgray;
  overflow-x: auto;
  overflow-y: hidden;
  overflow: hidden;
}

.App-header {
  background-color: whitesmoke;
  width: 95%;
  margin-left: 5%;
  height: 10vh;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  z-index: 99;
}

.App-footer {
  background-color:rgb(253, 253, 71);
  height: 35vh;
  width:95%;
  margin-left: 5%;
}

.Left-container {
  /* width:'30%' */
}
.Right-container {
  /* width:'65%';
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px; */
}

.Ul {
  margin:0;
  padding: 0;
  list-style-type: none;
}
.Li{
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.Details-container {
  margin-left:5%;
  margin-top: 10%;
  display: flex;
  height: 500px;
  /* align-items: center; */
  margin-bottom: 5%;
}

.Details-box1 {
  display: flex;
  justify-content: center;
  width: 80px;
  align-items: center;
}

.Details-text {
  display:block;
  transform: rotate(-90deg);
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  color: white;
  font-weight: bold; 
}

.Details-box2{
  width: 320px;
  align-items: center;
  display: inline-flex;
}

.Details-box3 {
  flex: 3;
  background: white;
  height: 500px;
  display: inline-flex;
}
.Details-left {
  flex: 2;
  display: inline-flex;
  background-color: red;
  align-items: center;
}

.Details-right {
  flex: 3;
  background-color:whitesmoke;
  border: 1px solid;
  border-color: aqua;
}

.Side-option {
  flex-direction: column;
  display: inline-flex;
  align-items: flex-end;
}

.Side-val {
  margin: 18px;
  text-decoration: none;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 15px;
}

.Nav-val {
  /* margin: 18px; */
  text-decoration: none;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 15px;
}
.Top-container {
  padding-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.News-letter {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
}
.Under-line {
  width: 50%;
  border: 0.5px solid black;
}

.Bottom-container {
  margin-left: 5%;
  display: inline-flex;
  width: 95%;
}

.Full-line {
  width: 95%;
  margin-left: 5%;
  border: 0.5px solid black
}

.Left-side {
  padding-top: 20px;
}

.Right-side {
  padding-top: 20px;
  position: absolute;
  right: 5%;
}

.List{
  display: inline-block;
  margin-right: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
}

.Box3-left {
  width: 60%;
  z-index: 99;
  align-items: center;
  display: inline-flex;
}


.Box3-right {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 60%;
}

.Box3-des {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.checked {
  color: orange;
}
.unchecked {
  color: lightgray
}
.Count-rating {
  color: lightgray;
  padding-left: 5px;
  font-size: 15px;
}
.Initial-prize {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: lightgrey;
  padding-right: 15px;
}

.price {
  padding-top: 15px;
}

.warranty-section {
  flex-direction: column;
  display: inline-flex;
  padding-top: 15px;

}

.assembly {
  font-size: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: gray;
  /* padding: 10px; */
}

.Product-container {
  flex-direction: column;
  margin-left: 5%;
  display: flex;
  margin-bottom: 5%;
  overflow: 'auto';
}

.Product-list {
  flex-direction: column;
  display: inline-flex;
  margin-top: 2%;
  height: 210px;
  width:190px;
  align-items: center;
  margin-right: 2px;
  overflow: 'auto';
  background-color: white
}

.Pdf-container {
  height: 70px;
  width: 200px;
  background: orange;
  position: absolute;
  right: 0;
}

.Heading-text {
  position: absolute;
  left: 35.4%;
  width: 31%;
  background-color: lightgray;
  height: 15%;
  font-size: 28px;
}

.Cart-val {
  width: 100%;
  margin-top: 10px;
  
}
.Display-cart {
  margin: 1%;
  display: inline-flex;
  width: 25px;
  justify-content: center;
}

.Add-cart {
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.Addcart-container {
  height: 21px;
  width: 89px;
  display: inline-block;
  background-color: yellow;
}
.Color-container {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
}

.Color-box1 {
  border-radius: 12.5px;
  width: 25px;
  height: 25px;
  background-color: rebeccapurple;
}

.Color-box2 {
  border-radius: 12.5px;
  width: 25px;
  height: 25px;
  background-color: burlywood;
  margin-left: 10px;
} 

.Color-box3 {
  border-radius: 12.5px;
  width: 25px;
  height: 25px;
  background-color: darkgrey;
  margin-left: 10px;
}

.Delivery {
  text-decoration: none;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 11px;
  margin-left: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
