.App {
  text-align: center;
  background-color:rgb(206, 194, 194);
  min-height: 672px;
}

.App-header {
  background-color:whitesmoke;
  width:95%;
  margin-left: 5%;
  height: 10vh;
}

.App-footer {
  background-color:rgb(252, 252, 44);
  height: 30vh;
  width:95%;
  margin-left: 5%;
  position: absolute;
  bottom:0;
}

.Left-container {
  width:'30%'
}
.Right-container {
  width:'65%';
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px;
}

.Section {
  display: flex;
  padding: 20px;
  flex-direction: row-reverse;
} 
.Section-val {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  padding-left: 15px;
}
.Ul {
  margin:0;
  padding: 0;
  list-style-type: none;
}
.Li{
  display: inline-block;
  margin-right: 20px;
}


.Details-container {
  margin-left:5%;
  width:95%;
  margin-top: 5%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background-color: green;
  min-height: 300px;
  /* border: 1px solid;
  border-color: brown;
  overflow: auto; */

}
.Left-details {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
} 
.Left-details2 {
  margin-left: 100%
}

.Details-text {
  display:block;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  color: white; 
}

.Right-details {
  background-color:whitesmoke;
  width:60%;
  position: absolute;
  right:0;
  height: 300px;
  border: 1px solid;
  border-color: aqua;
}
.Side-option {
  list-style-type: none;
  /* padding: 5px; */
}

.Side-val {
  margin: 10px
}

.News-letter {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
